/* --------------------------------------------------------------------------
   2. Base Overrides
   -------------------------------------------------------------------------- */

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg-main);
}

.bg-dark {
  background-color: var(--color-bg-alt) !important;
}

/* Heading sizes */

h2 {
  font-size: clamp(16px, 3vw, 50px);
}
h3 {
  font-size: clamp(12px, 1.8vw, 11px);
}

/* Section spacing */
.py-lg-6 {
  padding-top: 0rem !important;
  padding-bottom: 6rem !important;
}

.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

#projects-section {
  background-color: #ffffff !important;
}
