/* --------------------------------------------------------------------------
   2. Base Overrides
   -------------------------------------------------------------------------- */

body {
  background-color: var(--color-bg-main);
}

.bg-dark {
  background-color: var(--color-bg-alt) !important;
}

/* Text sizes */
p {
  font-size: clamp(12px, 1.2vw, 16px);
  font-family: var(--font-serif);
  line-height: clamp(1rem, 1.6vw, 2rem);
}

h2 {
  font-size: clamp(20px, 3vw, 50px);
  font-family: var(--font-sans-medium);
}
h3 {
  font-size: clamp(12px, 1.6vw, 10px);
}

.viewall {
  font-size: clamp(16px, 3vw, 50px);
  text-decoration: none;
  color: var(--color-bg-alt);
  font-family: var(--font-sans-medium);
}

.viewall:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.09rem;
  text-underline-offset: 0.15rem;
}

/* Section spacing */
.py-lg-6 {
  padding-top: 0rem !important;
  padding-bottom: 6rem !important;
}

.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}
.hero-image {
  padding-left: 2rem;
  padding-right: 2rem;
}

#projects-section {
  background-color: #ffffff !important;
}
