/* --------------------------------------------------------------------------
   2. Base Overrides
   -------------------------------------------------------------------------- */

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg-main);
}

.bg-dark {
  background-color: var(--color-bg-alt) !important;
}

/* Section spacing */
.py-lg-6 {
  padding-top: 0rem !important;
  padding-bottom: 6rem !important;
}

.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

#projects-section {
  background-color: #ffffff !important;
}
