/* I created a separate css for my fonts because they are a different resource and might be used in multiple places */

@font-face {
  font-family: "NeueHaasUnicaProMedium";
  src: url("../fonts/NeueHaasUnicaPro-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NeueHaasUnicaProHeavy";
  src: url("../fonts/NeueHaasUnicaPro-Heavy.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "HALTimezoneMono";
  src: url("../fonts/HALTimezoneUnlicensed-MonoRegular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "TestTiempos";
  src: url("../fonts/test-tiempos-text-regular.woff2") format("woff2");
  font-display: swap;
}
