/* --------------------------------------------------------------------------
   3. Navigation
   -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
   3. Navigation
   -------------------------------------------------------------------------- */
.navbar {
  background-color: blue !important;
  font-family: var(--font-serif);
}

.navbar.scrolled {
  background-color: darkorchid !important;
}

.nav-link {
  font-weight: 900;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--bs-primary);
  transition: width 0.3s;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
