/* --------------------------------------------------------------------------
   3. Navigation
   -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
   3. Navigation
   -------------------------------------------------------------------------- */
.navbar {
  background-color: var(--color-bg-main);
  font-family: var(--font-sans);
  font-size: var(--fs-nav);
  padding-bottom: 0%;
}

.navbar-brand {
  font-size: var(--fs-nav);
  font-weight: 850;
}

.navbar.scrolled {
  background-color: #e8fffa !important;
}

.nav-link {
  font-size: var(--fs-nav);
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.09em;
  text-underline-offset: 0.15em;
}
