/* --------------------------------------------------------------------------
   11. Responsive Adjustments
   -------------------------------------------------------------------------- */

body {
  font-size: var(--fs-body);
}

.hero-title {
  font-size: var(--fs-h1);
}

/* Tablet/Desktop: smaller rectangle lower */
@media (min-width: 768px) {
  .hero-img {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Tablet/Desktop: smaller rectangle lower */
@media (min-width: 1200px) {
  .color-rectangle {
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .contact-source {
    margin-bottom: 0% !important;
  }
}

@media (min-width: 768px) {
  .contact-link {
    margin-bottom: 0% !important;
  }
  p {
    margin-bottom: 0% !important;
  }
  .contact-text {
    margin-top: 6rem;
  }
}
