/* --------------------------------------------------------------------------
   1. CSS Custom Properties
   -------------------------------------------------------------------------- */
:root {
  --color-bg-main: #e8fffa; /* default page background color */
  --color-bg-alt: #151515; /* alternate background color for dark sections */

  --font-color-main: #151515; /* default page text color */
  --font-color-alt: #e8fffa; /* text color for dark backgrounds */

  --font-serif: "EB Garamond", serif;
  --font-sans: "NeueHaasUnicaPro", sans-serif;
  --font-monospace: "HALTimezoneMono", monospace;
  --fs-body: clamp(1rem, 0.35vw + 0.95rem, 1rem);
  --fs-nav: clamp(0.95rem, 0.25vw + 0.3rem, 1rem);
}
